<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a href="javascript:history.back()" class="back_btn">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title class="custom-font">In Progress</ion-title>  
  </ion-toolbar>
  <div class="top_header_user_detail">
    <ion-item class="user_card">
      <ion-thumbnail slot="start">
        <img class="thumbnail_img" src="assets/icons/macclary.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>CLAUDIA JOHN</h2>
        <p><b>ACCIDENT</b></p>
      </ion-label>
      <div>
        <p class="py-0 my-0">4.5 K <ion-icon name="star" color="secondary" slot="end"></ion-icon>
        </p>
        <p class="py-0 my-0"><b>450 M</b></p>
      </div>
      <ion-thumbnail slot="end">
        <img class="card_thumbnail_icon" src="assets/icons/doctor icon.jpg">
      </ion-thumbnail>
    </ion-item>
  </div>
</ion-header>

<ion-content>
  <div #map id="map"></div>
</ion-content>


<div class="app_footer">
  <div class="header">
    <div class="title">
      <ion-icon name="male-female"></ion-icon>
      <span>FEMALE ONLY</span>
    </div>
    <div class="toggle_btn">
      <ion-toggle ></ion-toggle>
    </div>
  </div>
  <div class="footer_menu">
    <div scrollX="true">
      <ion-list class="scrollX" *ngFor="let item of [0,0,0,0,0]" scrollX="true">
        <div class="menu_item">
          <ion-icon name="close-circle-outline"></ion-icon>
          <ion-label>Close</ion-label>
        </div>
      </ion-list>
    </div>
  </div>
</div>