<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-font">Add New Question</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true" slot="fixed">

  <div class="ion-padding">
    <form class="ion-padding">    
      <div class="wrap-input" style="margin-top: 20px;">
        <ion-item lines="none" color="primary">
          <!-- <ion-icon name="person-outline"></ion-icon> -->
          <ion-label>Enter a Question</ion-label>
        </ion-item>
      </div>   
      <div class="wrap-input" style="margin-top: 20px;">
        <ion-item>
          <ion-icon name="create-outline" slot="start"></ion-icon>
          <ion-textarea rows="6"  placeholder="Enter Question here..."></ion-textarea>
        </ion-item>
      </div>  

      <div class="container-form-btn">
        <button class="form-btn custom-font">
          Submit
        </button>
      </div>
    </form>     
  </div>
</ion-content>


