<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-font">Help Center</ion-title>  
  </ion-toolbar>
</ion-header> 
<ion-content> 
  <ion-list>
    <ion-searchbar></ion-searchbar>
    <ion-item>
      <ion-icon slot="start" name="happy-outline" color="primary"></ion-icon>
      <ion-label><h2>About Visible</h2><p>Coverage feature and plans</p></ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
          <ion-icon slot="start" name="rocket-outline" color="primary"></ion-icon>
      <ion-label><h2>Getting started</h2><p>Sign up and device option</p></ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
          <ion-icon slot="start" name="phone-portrait-outline" color="primary"></ion-icon>
      <ion-label><h2>Setup and activation</h2><p>Create account and deactivation</p></ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline" color="primary"></ion-icon>
  <ion-label><h2>Your account</h2><p>Payement Program and promos</p></ion-label>
  <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
</ion-item>
    <ion-item>
          <ion-icon slot="start" name="search-circle-outline" color="primary"></ion-icon>
      <ion-label><h2>Generating Issues</h2><p>Create issue and generate</p></ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
          <ion-icon slot="start" name="list-outline" color="primary"></ion-icon>
      <ion-label><h2>Generating New Events</h2><p>Create events</p></ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
          <ion-icon slot="start" name="git-merge-outline" color="primary"></ion-icon>
      <ion-label><h2>Tracking Evnet</h2><p>Track event</p></ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
