div{
    overflow: auto;
    width: 100%;
    .content{
        width: 100%;
        padding: 10px;
        text-align: center;
        overflow: auto;
        border-radius: 10px;
        background: #fff !important;

        h5{
            display: flex !important;
            justify-content: center !important;

            h6{
                color: #3dc2ff;
                margin: 0 10px !important;
            }
        }
        ion-label{
            font-size: 12px;
            font-weight: 200;
        }
        ion-icon{
            width: 100% ;
            font-size: xxx-large;
            margin: 10px 0;
        }
        ion-item{
            border-radius: 20px;
        }
    }
    .button{
        text-transform: capitalize;
        background: transparent !important;
        margin: 10px;
    }
}