 <!-- change its width and height in global css -->

 <div>
  <div class="content">
    <h5>GIVE YOUR<h6>FEEDBACK!</h6></h5>
    <ion-label>Choose below Emojis to rate us.</ion-label>
    <ion-icon color="secondary" name="checkmark-done-circle-outline"></ion-icon> 
    <ion-item>
      <ion-textarea placeholder="Text..." clearOnEdit="true"></ion-textarea>
    </ion-item>
  </div>
  <div>
    <ion-button class="button" (click)="submit()" expand="block" >Submit</ion-button>
  </div>
</div>

<!-- <div style="overflow: auto;">
  <div class="content" style="width: 100%;padding: 10px;text-align: center;overflow: auto;border-radius: 20px;background: pink !important;">
    <h5 style="display: flex;justify-content: center;">GIVE YOUR<h6 style="color: #3dc2ff;margin: 0 10px !important;">FEEDBACK!</h6></h5>
    <ion-label style="font-size: 12px;font-weight: 200;">Choose below Emojis to rate us.</ion-label>
    <ion-icon style="width: 100% ;font-size: xxx-large;margin: 10px 0;" color="secondary" name="checkmark-done-circle-outline"></ion-icon> 
    <ion-item style="border-radius: 20px;">
      <ion-textarea placeholder="Text..." clearOnEdit="true"></ion-textarea>
    </ion-item>
  </div>
  <div>
    <ion-button class="button" (click)="submit()" expand="block" style="text-transform: capitalize;background: transparent !important;margin: 10px;">Submit</ion-button>
  </div>
</div> -->