<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-font">Privacy Policy</ion-title>  
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Privacy policy</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title color="primary">What information do we collect?</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title color="primary">Governing law</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title color="primary">Your constant</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title color="primary">Links to other website</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
