<ion-header style="height: 0;">
  <ion-toolbar>
    <ion-title><a href="javascript:history.back()"><ion-icon name="arrow-back" class="back_btn"></ion-icon></a> <span>Enrolled</span></ion-title>
  </ion-toolbar>
</ion-header>

<super-tabs class="app_body"> 
  <super-tabs-toolbar slot="top" color="white">
    <super-tab-button>
      <ion-label>Pending</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label>Approved</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container>

    <super-tab>
      <ion-content>
        <!-- Pending -->
        <ion-nav [root]="pending"></ion-nav>
      </ion-content>
    </super-tab>

    <super-tab >
      <ion-content>
        <!-- Approved -->
        <ion-nav [root]="approved"></ion-nav>
      </ion-content>
    </super-tab>
    
  </super-tabs-container>
</super-tabs>
