<ion-header translucent class="ion-no-border">
  <ion-toolbar class="top_header_navbar">
    <ion-buttons slot="start">
      <a href="javascript:history.back()" class="back_btn">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title class="navbar_title">Enrolled</ion-title>
  </ion-toolbar>
  <!-- <div class="top_header_scrolled_menu_list">
    <div class="menu_list_item active">
      <img src="assets/icons/verified-icon-png-5.jpg" alt="">
      <span>Pending</span>
    </div>
    <div class="menu_list_item">
      <img src="assets/icons/verified-icon-png-5.jpg" alt="">
      <span>Approved</span>
    </div>
  </div> -->

    <!-- Segment with anchors -->
    <ion-segment (ionChange)="segmentChanged($event)" class="segment_scroll">
      <ion-segment-button value="dogs" class="scroll_X">
        <div class="segment_item">
          <img src="assets/icons/verified-icon-png-5.jpg" alt="">
          <span>Pending</span>
        </div>
      </ion-segment-button>
      <ion-segment-button value="cats" class="scroll_X">
        <div class="segment_item">
          <img src="assets/icons/verified-icon-png-5.jpg" alt="">
          <span>Approved</span>
        </div>
      </ion-segment-button>
     </ion-segment>
</ion-header>

<!-- <ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="enrolledlist">
    <ion-segment-button value="pending" layout="icon-start">
      <ion-label>Pending</ion-label>
      <ion-icon color="success" name="close-circle-outline"></ion-icon>
    </ion-segment-button>
    <div class="verticalLine"></div>
    <ion-segment-button value="approved" layout="icon-start">
      <ion-label>Approved</ion-label>
      <ion-icon color="secondary" name="checkmark-circle-outline"></ion-icon>
    </ion-segment-button>   
  </ion-segment>

  <ion-list class="detailList">
    <ion-item-sliding  *ngFor="let item of [0,0]">
      <ion-item style="--border-style:none;">
        <ion-thumbnail slot="start">
          <img class="thumbnail_img" src="assets/icons/macclary.jpg">
        </ion-thumbnail>
        <ion-label>
          <h1>Cladia John</h1>
          <p>Accident</p>
        </ion-label>
        <ion-label>
          <h2>4.5 K <ion-icon color="secondary" name="star" slot="end"></ion-icon>
          </h2>
          <p>460 M</p>
        </ion-label>
        <ion-thumbnail slot="end">
          <img class="card_thumbnail_icon" src="assets/icons/doctor icon.jpg">
        </ion-thumbnail>        
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success">
          <ion-icon size="small" name="call-outline" slot="top"></ion-icon>
            <ion-label>Call</ion-label>
        </ion-item-option>
        <ion-item-option>
          <ion-icon size="small" name="chatbubbles-outline" slot="top"></ion-icon>
            <ion-label>Chat</ion-label>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon size="small" name="close-circle-outline" slot="top"></ion-icon>
            <ion-label>Cancel</ion-label>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>      
  </ion-list>
</ion-content> -->


<!-- New -->
<ion-content>
  <div class="app_body">
    <ion-list class="detailList">
      <ion-item-sliding *ngFor="let item of [0,0,0,0]">
        <ion-item style="--border-style:none;padding: 0;margin-bottom: 10px;">
          <ion-thumbnail slot="start">
            <img class="thumbnail_img" src="assets/icons/macclary.jpg">
          </ion-thumbnail>
          <ion-label>
            <h1>Cladia John</h1>
            <p>Question 1</p>
          </ion-label>
          <p>4.5 K <ion-icon name="star" color="secondary" slot="end"></ion-icon>
          </p>
          <ion-thumbnail slot="end">
            <img class="card_thumbnail_icon" src="assets/icons/doctor icon.jpg">
          </ion-thumbnail>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success">
            <ion-icon size="small" name="call-outline" slot="top"></ion-icon>
            <ion-label>Call</ion-label>
          </ion-item-option>
          <ion-item-option>
            <ion-icon size="small" name="chatbubbles-outline" slot="top"></ion-icon>
            <ion-label>Chat</ion-label>
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon size="small" name="close-circle-outline" slot="top"></ion-icon>
            <ion-label>Cancel</ion-label>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>
</ion-content>