<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-font">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

  <div class="ion-padding">
    <form class="ion-padding">
      <ion-item lines="none">        
        <ion-img src="assets/icon/logo.jpg" style="width:50%; margin: auto;"></ion-img>      
      </ion-item>
      <div class="wrap-input" style="margin-top: 20px;">
        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <input class="input" type="text" name="user-name" placeholder="Enter Mobile/Email">
        </ion-item>
      
      </div>     

      <div class="container-form-btn">
        <button class="form-btn custom-font" (click)="resetPassword()">
          Send
        </button>
      </div>
    </form> 
  </div>
</ion-content>
