
<ion-header style="height: 0;">
  <ion-toolbar>
    <ion-title><a href="javascript:history.back()"><ion-icon name="arrow-back" class="back_btn"></ion-icon></a> <span>Givers</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="app_body">

    <ion-card class="card">
      <ion-item-sliding>
        <ion-item fxLayout="row" class="card-margin">
          <div class="img-width">
            <img src="assets/images/macclary.jpg">
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle class="card-subtitle">MARY PAUL</ion-card-subtitle>
                <ion-card-title class="card-title"><b>AWAY FROM YOU</b></ion-card-title>
              </ion-col>
              <ion-col size="5">
                <ion-card-subtitle class="card-subtitle">4.4 K <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
                <ion-card-title class="card-title"><b>480 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success">
            <ion-icon class="swapable-icon" slot="top" name="checkmark-circle-outline"></ion-icon>
            ACCEPT
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon class="swapable-icon" slot="top" name="close-circle-outline"></ion-icon>
            REJECT
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon class="swapable-icon" slot="top" name="person-circle-outline"></ion-icon>
            VIEW
            PROFILE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card class="card">
      <ion-item-sliding>
        <ion-item fxLayout="row" class="card-margin">
          <div class="img-width">
            <img src="assets/images/macclary.jpg">
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle class="card-subtitle">MARY PAUL</ion-card-subtitle>
                <ion-card-title class="card-title"><b>AWAY FROM YOU</b></ion-card-title>
              </ion-col>
              <ion-col size="5">
                <ion-card-subtitle class="card-subtitle">4.4 K <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
                <ion-card-title class="card-title"><b>480 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success">
            <ion-icon class="swapable-icon" slot="top" name="checkmark-circle-outline"></ion-icon>
            ACCEPT
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon class="swapable-icon" slot="top" name="close-circle-outline"></ion-icon>
            REJECT
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon class="swapable-icon" slot="top" name="person-circle-outline"></ion-icon>
            VIEW
            PROFILE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card class="card">
      <ion-item-sliding>
        <ion-item fxLayout="row" class="card-margin">
          <div class="img-width">
            <img src="assets/images/macclary.jpg">
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle class="card-subtitle">MARY PAUL</ion-card-subtitle>
                <ion-card-title class="card-title"><b>AWAY FROM YOU</b></ion-card-title>
              </ion-col>
              <ion-col size="5">
                <ion-card-subtitle class="card-subtitle">4.4 K <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
                <ion-card-title class="card-title"><b>480 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success">
            <ion-icon class="swapable-icon" slot="top" name="checkmark-circle-outline"></ion-icon>
            ACCEPT
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon class="swapable-icon" slot="top" name="close-circle-outline"></ion-icon>
            REJECT
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon class="swapable-icon" slot="top" name="person-circle-outline"></ion-icon>
            VIEW
            PROFILE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card class="card">
      <ion-item-sliding>
        <ion-item fxLayout="row" class="card-margin">
          <div class="img-width">
            <img src="assets/images/macclary.jpg">
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle class="card-subtitle">MARY PAUL</ion-card-subtitle>
                <ion-card-title class="card-title"><b>AWAY FROM YOU</b></ion-card-title>
              </ion-col>
              <ion-col size="5">
                <ion-card-subtitle class="card-subtitle">4.4 K <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
                <ion-card-title class="card-title"><b>480 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success">
            <ion-icon class="swapable-icon" slot="top" name="checkmark-circle-outline"></ion-icon>
            ACCEPT
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon class="swapable-icon" slot="top" name="close-circle-outline"></ion-icon>
            REJECT
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon class="swapable-icon" slot="top" name="person-circle-outline"></ion-icon>
            VIEW
            PROFILE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card class="card">
      <ion-item-sliding>
        <ion-item fxLayout="row" class="card-margin">
          <div class="img-width">
            <img src="assets/images/macclary.jpg">
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle class="card-subtitle">MARY PAUL</ion-card-subtitle>
                <ion-card-title class="card-title"><b>AWAY FROM YOU</b></ion-card-title>
              </ion-col>
              <ion-col size="5">
                <ion-card-subtitle class="card-subtitle">4.4 K <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
                <ion-card-title class="card-title"><b>480 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success">
            <ion-icon class="swapable-icon" slot="top" name="checkmark-circle-outline"></ion-icon>
            ACCEPT
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon class="swapable-icon" slot="top" name="close-circle-outline"></ion-icon>
            REJECT
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon class="swapable-icon" slot="top" name="person-circle-outline"></ion-icon>
            VIEW
            PROFILE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card class="card">
      <ion-item-sliding>
        <ion-item fxLayout="row" class="card-margin">
          <div class="img-width">
            <img src="assets/images/macclary.jpg">
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle class="card-subtitle">MARY PAUL</ion-card-subtitle>
                <ion-card-title class="card-title"><b>AWAY FROM YOU</b></ion-card-title>
              </ion-col>
              <ion-col size="5">
                <ion-card-subtitle class="card-subtitle">4.4 K <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
                <ion-card-title class="card-title"><b>480 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success">
            <ion-icon class="swapable-icon" slot="top" name="checkmark-circle-outline"></ion-icon>
            ACCEPT
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon class="swapable-icon" slot="top" name="close-circle-outline"></ion-icon>
            REJECT
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon class="swapable-icon" slot="top" name="person-circle-outline"></ion-icon>
            VIEW
            PROFILE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card class="card">
      <ion-item-sliding>
        <ion-item fxLayout="row" class="card-margin">
          <div class="img-width">
            <img src="assets/images/macclary.jpg">
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle class="card-subtitle">MARY PAUL</ion-card-subtitle>
                <ion-card-title class="card-title"><b>AWAY FROM YOU</b></ion-card-title>
              </ion-col>
              <ion-col size="5">
                <ion-card-subtitle class="card-subtitle">4.4 K <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
                <ion-card-title class="card-title"><b>480 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success">
            <ion-icon class="swapable-icon" slot="top" name="checkmark-circle-outline"></ion-icon>
            ACCEPT
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon class="swapable-icon" slot="top" name="close-circle-outline"></ion-icon>
            REJECT
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon class="swapable-icon" slot="top" name="person-circle-outline"></ion-icon>
            VIEW
            PROFILE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card class="card">
      <ion-item-sliding>
        <ion-item fxLayout="row" class="card-margin">
          <div class="img-width">
            <img src="assets/images/macclary.jpg">
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle class="card-subtitle">MARY PAUL</ion-card-subtitle>
                <ion-card-title class="card-title"><b>AWAY FROM YOU</b></ion-card-title>
              </ion-col>
              <ion-col size="5">
                <ion-card-subtitle class="card-subtitle">4.4 K <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
                <ion-card-title class="card-title"><b>480 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success">
            <ion-icon class="swapable-icon" slot="top" name="checkmark-circle-outline"></ion-icon>
            ACCEPT
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon class="swapable-icon" slot="top" name="close-circle-outline"></ion-icon>
            REJECT
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon class="swapable-icon" slot="top" name="person-circle-outline"></ion-icon>
            VIEW
            PROFILE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card class="card">
      <ion-item-sliding>
        <ion-item fxLayout="row" class="card-margin">
          <div class="img-width">
            <img src="assets/images/macclary.jpg">
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle class="card-subtitle">MARY PAUL</ion-card-subtitle>
                <ion-card-title class="card-title"><b>AWAY FROM YOU</b></ion-card-title>
              </ion-col>
              <ion-col size="5">
                <ion-card-subtitle class="card-subtitle">4.4 K <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
                <ion-card-title class="card-title"><b>480 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success">
            <ion-icon class="swapable-icon" slot="top" name="checkmark-circle-outline"></ion-icon>
            ACCEPT
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon class="swapable-icon" slot="top" name="close-circle-outline"></ion-icon>
            REJECT
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon class="swapable-icon" slot="top" name="person-circle-outline"></ion-icon>
            VIEW
            PROFILE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card class="card">
      <ion-item-sliding>
        <ion-item fxLayout="row" class="card-margin">
          <div class="img-width">
            <img src="assets/images/macclary.jpg">
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <ion-card-subtitle class="card-subtitle">MARY PAUL</ion-card-subtitle>
                <ion-card-title class="card-title"><b>AWAY FROM YOU</b></ion-card-title>
              </ion-col>
              <ion-col size="5">
                <ion-card-subtitle class="card-subtitle">4.4 K <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
                <ion-card-title class="card-title"><b>480 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success">
            <ion-icon class="swapable-icon" slot="top" name="checkmark-circle-outline"></ion-icon>
            ACCEPT
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon class="swapable-icon" slot="top" name="close-circle-outline"></ion-icon>
            REJECT
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon class="swapable-icon" slot="top" name="person-circle-outline"></ion-icon>
            VIEW
            PROFILE
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>