.background-color{
    background-color: rgb(196, 194, 194);
}
.card{
    margin: 5px;
    border-radius: 0;
}
.img-width{
    width: 20%;
}
.card-margin{
    margin-bottom: -5px;
    margin-left: -15px;
}
.card-subtitle{
    font-size: 16px;
    margin-bottom: 10px;
}
.card-title{
    font-size: 12px;
}