<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back-outline"></ion-icon>
      View Media
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <div class="header_title">
    <ion-icon size="medium" name="camera"></ion-icon>
    <ion-label>Photos</ion-label>
  </div>
  <div scrollX="true" class="img">
    <ion-list class="scrollX" *ngFor="let item of [0,0,0,0,0,0,0];index as i" scrollX="true">
      <!-- <ion-item> -->
        <ion-thumbnail (click)="onShowImageModal(i)">
          <img src="../../../assets/icons/macclary.jpg">
        </ion-thumbnail>
      <!-- </ion-item> -->
    </ion-list>
  </div>
</div>
<div>
  <div class="header_title">
    <ion-icon size="medium" name="videocam"></ion-icon>
    <ion-label>videos</ion-label>
  </div>
  <div scrollX="true" class="img">
    <ion-list class="scrollX" *ngFor="let item of [0,0,0,0,0,0,0]; index as i" scrollX="true">
      <!-- <ion-item> -->
        <ion-thumbnail (click)="onShowImageModal(i)">
          <img src="../../../assets/icons/macclary.jpg">
        </ion-thumbnail>
      <!-- </ion-item> -->
    </ion-list>
  </div>
</div>
<div>
  <div class="header_title">
    <ion-icon size="medium" name="list"></ion-icon>
    <ion-label>Other documents</ion-label>
  </div>
  <ion-list>
    <ion-item>
      <ion-label class="document">example pdf</ion-label>
      <ion-label slot="end" class="type">pdf</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="document">example doc</ion-label>
      <ion-label slot="end" class="type">doc</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="document">example xps doc</ion-label>
      <ion-label slot="end" class="type">xps doc</ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>


<!-- Full image modal -->

<div class="image_modal" *ngIf="showImageModal" (click)="onShowImageModal()">
  <div class="container">
    <img src="../../../assets/icons/macclary.jpg" alt="">
    {{currentImgSrc}}
  </div>
</div>