<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="my-custom-menu">
      <ion-content class="sideBar_menu">
        <div class="side_bar_profile_header">
          <div>
            <div class="user_card">
              <div class="avtar_img" (click)="userProfile()" >
                <img src="assets/icons/macclary.jpg" alt="">
              </div>
              <div class="user_info">
                <div class="info_details" (click)="userProfile()"  >
                  <div class="name">CLaudia</div>
                  <div class="city">Newyork</div>
                  <div class="name">21.3 K</div>
                </div>
                <div class="menu_bar_btn">
                  <ion-buttons slot="start" color="primary">
                    <ion-menu-button></ion-menu-button>
                  </ion-buttons>
                </div>
              </div>
            </div>         
          </div>
        </div>
        <div class="menu">
          <ul>          
            <ng-container *ngFor="let menu_item of appPages; let i = index">
              <li [routerLink]="[menu_item.url]" routerLinkActive="active" (click)="closeMenu()">{{menu_item?.title}}</li>
            </ng-container>
            <ng-container>
              <li (click)="logOut()">LogOut</li>
            </ng-container>

            <!-- <ion-menu-toggle auto-hide="false">
              <ion-item (click)="logOut()" lines="none" class="ion-text-center" color="primary">              
                <ion-label>Log Out</ion-label>
              </ion-item>
            </ion-menu-toggle> -->
          </ul>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>