
<ion-header class="ion-no-border">
  <ion-toolbar class="top_header_navbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  class="navbar_title">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="description_container">
    <div class="description_header">
      <ion-card class="card">
        <ion-grid class="grid-padding">
          <ion-row>
            <ion-col size="4" class="grid-padding col-margin">
              <img src="assets/images/macclary.jpg">
            </ion-col>
            <ion-col class="col-padding">
              <ion-card-header class="grid-padding">
                <ion-card-title class="card-title">MACCLARY</ion-card-title>
                <ion-card-subtitle class="card-subtitle card-content">+91-985656XXXX</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="grid-padding card-content">MACCLARY@GMAIL.COM</ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <div class="description_body">
      <!-- DESCRIPTION -->
      <ion-title class="title">DESCRIPTION</ion-title>
      <ion-text class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text.</ion-text>

        <form class="description_form">
          <div class="container-form-btn">
            <button class="form-btn form-button custom-font" type="submit"  (click)="editProfile()">
              Edit Profile
            </button>
          </div>
          <div class="container-form-btn">
            <button class="form-button custom-font" type="submit">
            Ratings
            </button>
          </div>
          <div class="container-form-btn">
            <button class="form-button custom-font" type="submit">
              Events
            </button>
          </div>
          <div class="container-form-btn">
            <button class="form-button custom-font" type="submit">
              Issues
            </button>
          </div>
          <div class="container-form-btn">
            <button class="form-button custom-font" type="submit">
             KYC Details
            </button>
          </div>
          <div class="container-form-btn">
            <button class="form-button custom-font" type="submit">
             Email
            </button>
          </div>
          <div class="container-form-btn">
            <button class="form-button custom-font" type="submit">
             Documents
            </button>
          </div>
  
        </form>
      
    </div>
  </div>
</ion-content>