.title {
	padding: 10px 0;
	color: white;
	font-size: 14px;
	letter-spacing: .5px;
}

.text {
	color: rgb(228, 227, 227);
	font-size: 12px
}

.input-field {
	margin-bottom: 12px;
}

.btn {
	border: 1.5px solid white;
	border-radius: 0;
	--background: transparent;
	--border-radius: 0px;
}

.description_container {
	width: 100%;
	min-height: 100%;
	background: var(--ion-color-primary);
	.description_header {
		padding: 40px 0 40px 20px;
		background: #fff;
		ion-col.col-padding {
			padding: 20px;
		}
		ion-col {
			img {
				width: 100%;
				height: 100%;
			}
		}
		.card {
			--background: rgb(63, 177, 253) !important;
			margin: 0;
			border-radius: 0;
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
		}
		.grid-padding {
			padding: 0;
		}
		.col-margin {
			margin-bottom: -4px;
		}
		.col-padding {
			padding: 10px 0 0px 20px;
		}
		.card-title {
			font-size: 13px;
			color: white;
		}
		.card-subtitle {
			margin: 0;
		}
		.card-content {
			font-size: 11px;
			color: white;
		}
	}
	.description_body {
		padding: 20px;
		ion-text.text {
			font-size: 0.9rem;
		}
		form.desc_form {
			padding: 20px 10px;
			section {
				margin-bottom: 20px;
			}
		}
		ion-text.ratings_icons {
			ion-icon {
				color: #EEDB21;
				margin-right: 5px;
			}
		}
		ion-title.container_heading {
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.rating_container {
            margin-top: 20px;
            .rating_subtitle{
                font-size: 12px;
                color: rgb(228, 227, 227);
                margin-bottom: 10px;
            }
		}
	}
}