<ion-header translucent class="ion-no-border">
  <ion-toolbar class="top_header_navbar">
    <ion-buttons slot="start">
      <a href="javascript:history.back()" class="back_btn"><ion-icon name="arrow-back-outline"></ion-icon></a>
    </ion-buttons>
    <ion-title class="navbar_title">Select Distance</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <ion-icon size="medium" name="location-outline"></ion-icon>
  <ion-label>Issue range created by you</ion-label>
  
  <ion-range min="1000" max="2000" step="100" value="1100" snaps color="secondary">
  </ion-range>

  <ion-icon size="medium" name="location-outline"></ion-icon>
  <ion-label>Issue range displayed by you</ion-label>
  <ion-range min="1000" max="2000" step="100" value="1400" snaps color="secondary">
  </ion-range>
</div>
  
