div.alert_card{
    width: 100%;
    padding: 20px;
    background: white !important;
    overflow: auto;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    
    .imgCard{
        width: 100%;
        text-align: center;
        align-items: center;
        img.icon{
            width: 50px;
            text-align: center;
        }
    }

    h5{
        text-align: center;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        ion-button{
            text-transform: capitalize;
        }
    }
}