<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a href="javascript:history.back()" class="back_btn"><ion-icon name="arrow-back-outline"></ion-icon></a>
    </ion-buttons>
    <ion-title class="custom-font">Create New Issue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
  <ion-list  lines="none">    
  <ion-item>
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-label>Select Categories</ion-label>
  </ion-item>  
  <ion-card class="stories-card" scrollX="true">
    <ion-list class="story-list scrollX" *ngFor="let story of stories">
      <ion-item class="story-item" (click)="onSelected()">
        <ion-avatar class="story-avatar" [ngClass]="{'seen': false}">
          <img [src]="story.image">
          <ion-badge class="notifications-badge" color="primary" *ngIf="selected">
            <ion-icon name="checkmark"></ion-icon>
          </ion-badge>
        </ion-avatar>
      </ion-item>
      <div class="story-author">
        <ion-text color="primary">
          {{story.first_name}}
        </ion-text>
      </div>
    </ion-list>
  </ion-card>
  <ion-item>
    <ion-icon slot="start" name="transgender"></ion-icon>
    <ion-label>Female Only</ion-label>
    <ion-toggle ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="create"></ion-icon>
    <ion-label>Description</ion-label>
  </ion-item>
  <ion-item >   
    <ion-textarea rows="6" autofocus="true" class="ion-border"
      placeholder="Enter description of issue">
    </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="camera"></ion-icon>
    <ion-label>ADD PHOTOS/VIDEOS</ion-label>
  </ion-item>  

  <div class="img-fluid">
    <img [src]="currentImageView">
  </div>
  <ion-card class="stories-card" scrollX="true">
    <ion-list class="story-list">
      <ion-item class="story-item">
        <ion-thumbnail class="image-upload">
          <label for=image>
            <img src="assets/icons/camera.png">
          </label>
          <input type="file" name="image" id="image">
        </ion-thumbnail>        
      </ion-item>  
    </ion-list>
    <ion-list class="story-list scrollX" *ngFor="let img of images;index as i" >
      <ion-item class="story-item" (click)="onViewFullImage(img?.img_url)">
        <ion-thumbnail>
          <img [src]="img?.img_url">
        </ion-thumbnail>
      </ion-item>     
    </ion-list>
  </ion-card> 
    <div class="container-form-btn ion-padding" >
      <button class="form-btn custom-font" type="submit" [routerLink]="['/select-location']">
        Next
      </button>
    </div>
</ion-list>
</form>

</ion-content>
