<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-font">About Us</ion-title>  
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">About App</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
   
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
   
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
   
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
   
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-list>

<!-- <ion-slides class="image-slider" loop="true" slidesPerView="2">
  <ion-slide *ngFor="let img of images">
    <img src="assets/img/{{img}}" class="thumb-img" imageViewer/>
  </ion-slide>
</ion-slides> -->
</ion-content>
