/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root {
	--primary: #5EC2FE;
}

.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.header-background {
	-webkit-backdrop-filter: none;
	backdrop-filter: none;
}

a.back_btn {
	text-decoration: none;
	color: #222;
	font-size: 20px;
}

ion-header {
	height: 100px;
	background: #fff;
	ion-toolbar.top_header_navbar {
		padding: 0 20px;
		ion-title.navbar_title {
			font-size: 15px;
			font-weight: 400;
		}
	}
	.top_header_scrolled_menu_list {
		display: flex;
		justify-content: center;
		.menu_item {
			padding: 5px 10px 0 10px;
			margin: 2px 2px 0 2px;
			display: flex;
			align-items: center;
			border-right: 1px solid #dee2e6 !important;
			img {
				margin-right: 5px;
				width: 20px;
			}
		}
		.menu_item.active {
			border-right: 2px solid red;
		}
	}
}

.custom-font {
	font-family: "Josefin Sans", sans-serif;
}

ion-toolbar {
	--background: transparent;
	ion-title {
		font-weight: 900;
	}
	p {
		font-weight: 600;
	}
}

// Horizontal container
*[scrollX=true] {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
	.scrollX {
		flex: 0 0 auto;
	}
}

ion-content {
	// --background: rgba(237, 242, 245, 0);
	.wrap-input {
		background-color: rgba(255, 255, 255, 0.8);
		margin-bottom: 20px;
		box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
	}
	.input {
		display: block;
		width: 100%;
		background: transparent;
		font-family: Josefin Sans;
		font-size: 16px;
		line-height: 1.2;
		border: none;
		outline: none;
		height: 46px;
		padding: 0 20px 0 23px;
	}
	.container-form-btn {
		display: flex;
		justify-content: center;
	}
	.form-button {
		display: flex;
		justify-content: start;
		align-items: center;
		padding: 0 20px;
		min-width: 100%;
		height: 42px;
		background-color: #ffffff;
		font-size: 14px;
		color: #000;
		text-transform: uppercase;
		transition: all 0.4s;
		// box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
		outline: none;
		margin-top: 20px;
	}
	.form-btn {
		border: 2px solid white;
		background-color: #38b6ff !important;
		color: #ffffff !important;
		padding: 10px;
		width: 100%;
		font-size: 18px;
	}
	.form-btn:hover {
		background-color: #38b6ff;
		box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
	}
	.conditions {
		font-size: 12px;
		position: absolute;
	}
	// .userList {
	//   background: #f5f7fa;
	//   ion-item {
	//     border-radius: 10px;
	//     margin-bottom: 20px;    
	//     box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	//   }
	// }
	// #background-content{
	//   background: transparent !important;
	// } 
	// ion-list{
	//   ion-thumbnail{
	//     .card_thumbnail_icon{
	//       border-radius: 100%;
	//       height: 80%;
	//       width: 80%;
	//       margin-top: 6px;
	//     }
	//   }
	// }
	ion-segment {
		ion-segment-button {
			ion-label,
			ion-icon {
				font-size: 12px;
			}
		}
	}
	ion-list {
		ion-item-sliding {
			ion-item {
				--border-style: none;
				ion-thumbnail {
					.card_thumbnail_icon {
						border-radius: 100%;
						height: 80%;
						width: 80%;
						margin-top: 6px;
					}
					// .thumbnail_img{
					//   padding: 0 !important;
					//   // margin-bottom: 0 !important;
					//   height: 72px !important;
					//   width: 60px !important;
					// }
				}
				ion-label {
					h1 {
						display: flex;
						font-size: 16px !important;
					}
					b {
						font-size: 10px !important;
						// font-weight: 700;
					}
				}
			}
			ion-item-options {
				ion-item-option {
					border-radius: 0px;
					padding: 0;
					height: auto;
					margin-bottom: 10px;
					ion-label {
						text-align: center !important;
						margin: 0px 0 0 0 !important;
						font-size: 10px !important;
					}
				}
			}
		}
	}
}

.label-stacked.sc-ion-label-md-h,
.label-floating.sc-ion-label-md-h {
	font-size: 25px;
}

// ion-content{
//   --background: var(--ion-background-color, transparent);
// }
ion-modal {
	background: transparent !important;
	ion-backdrop {
		background: #fff !important;
	}
	div {
    background: #fff !important;
    display: grid;
    align-items: center;
	}
}

.sc-ion-modal-md-h:first-of-type {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.90) !important;
}

.cancel-modal {
	.modal-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-radius: 10px;
    text-align: center;
	}
}

main.inner-scroll.scroll-y {
	margin: 0 !important;
	padding: 0 !important;
}

button[type=submit]{
  background-color: var(--primary);
}
button[type=submit]:focus{
  outline: none;
}


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


$primary_btn_bg_color: var(--primary);
$danger_btn_bg_color: #dc3545;




.btn-primary {
    color: #fff;
    background-color: $primary_btn_bg_color;
    border-color: $primary_btn_bg_color;
}
.btn-primary:hover {
    color: #fff;
    background-color: $primary_btn_bg_color;
    border-color: $primary_btn_bg_color
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
	outline: none;
    color: #fff;
    background-color: $primary_btn_bg_color;
    border-color: $primary_btn_bg_color;
    box-shadow: none;
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $primary_btn_bg_color;
    border-color: $primary_btn_bg_color
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color:$primary_btn_bg_color;
    border-color: $primary_btn_bg_color
}
// danger_btn_bg_color
.btn-danger {
    color: #fff;
    background-color: $danger_btn_bg_color;
    border-color: $danger_btn_bg_color;
}
.btn-danger:hover {
    color: #fff;
    background-color: $danger_btn_bg_color;
    border-color: $danger_btn_bg_color
}
.btn-check:focus + .btn-danger,
.btn-danger:focus {
	outline: none;
    color: #fff;
    background-color: $danger_btn_bg_color;
    border-color: $danger_btn_bg_color;
    box-shadow: none;
}
.btn-check:active + .btn-danger,
.btn-check:checked + .btn-danger,
.btn-danger.active,
.btn-danger:active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: $danger_btn_bg_color;
    border-color: $danger_btn_bg_color
}
.btn-check:active + .btn-danger:focus,
.btn-check:checked + .btn-danger:focus,
.btn-danger.active:focus,
.btn-danger:active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: none
}
.btn-danger.disabled,
.btn-danger:disabled {
    color: #fff;
    background-color:$danger_btn_bg_color;
    border-color: $danger_btn_bg_color
}
