.card {
	margin: 5px;
	border-radius: 0;
	margin-bottom: 15px;
}

.img-width {
	width: 30%;
}

.card-margin {
	margin-bottom: -5px;
	margin-left: -15px;
}

.card-subtitle {
	font-size: 14px;
	margin-bottom: 10px;
}

.card-title {
	font-size: 12px;
}

.swapable-icon {
	font-size: 22px;
	margin-bottom: 5px;
}

.app_body {
	background: #EBE9EA;
	width: 100%;
	min-height: 100%;
}