<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back-outline"></ion-icon>
      My Issue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="status">
    <ion-label class="overview">Overview of the status</ion-label>
  </div>
    <div class="day-issue">
      <div class="circle">
      </div>
      <ion-label>Sep 08, 05:00 AM</ion-label>
    </div>
    <div class="day-issue">
      <div class="vertical-line"></div>
      <ion-card>
        <h5>
          <ion-icon color="danger" size="large" slot="start" name="refresh-outline"></ion-icon>
          New issue created
        </h5>
      </ion-card>
    </div> 


    <div class="day-issue">
      <div class="circle">
      </div>
      <ion-label>Sep 08, 05:30 AM</ion-label>
    </div>
    <div class="day-issue">
      <div class="vertical-line"></div>
      <ion-card color="secondary">
        <h5>
          <ion-icon color="light" size="large" slot="start" name="checkmark-done-circle-outline"></ion-icon>
          Approved to help giver
        </h5>
      </ion-card>
    </div> 

  <div class="day-issue">
    <div class="circle">
    </div>
    <ion-label>Sep 08, 06:00 AM</ion-label>
  </div>
  <div class="day-issue">
    <div class="vertical-line"></div>
    <ion-card>
      <h5>
        <ion-icon color="warning" size="large" slot="start" name="checkmark-circle-outline"></ion-icon>
        Giver reached to destination
      </h5>
    </ion-card>
  </div> 

  <div class="day-issue">
    <div class="circle">
    </div>
    <ion-label>Sep 08, 06:30 AM</ion-label>
  </div>
  <div class="day-issue">
    <div class="vertical-line"></div>
    <ion-card>
      <h5>
        <ion-icon color="secondary" size="large" slot="start" name="checkbox-outline"></ion-icon>
        Completed
      </h5>
    </ion-card>
  </div> 

</ion-content>

